#f_image {
    transition: transform .5s;
    overflow: hidden;
}

#f_image:hover {
    transform: scale(1.05);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background: linear-gradient(rgb(0, 8, 14), rgb(45, 46, 45));
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 3px 2px 3px white;
}

#myBtn:hover {
    background: linear-gradient(90deg, rgb(45, 46, 45), rgb(0, 8, 14));
    box-shadow: none;
}